.navigation-main {
  width 100%
  display flex
  align-items center
  justify-content flex-end

  ul.nav-menu {
    display flex;
    justify-content flex-end;
    flex-direction row
    margin 0
    height: 100%

    > li {
      height 100%;
      position relative;
      display flex;
      align-items: center

      > .sub-menu {
        display none
        transition linear .3s
        width 100%
        position absolute;
        top: 100%;
        left: 0;
        padding 0;
        background $gray-700
        > li:not(.menu-item-has-children) {
          padding-left 12px;
          a {
            //color red;
          }
          &:before {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            left: 4px;
            top: 12px;
            background-color: #f7c407;
          }
        }
      }

      a {
        text-transform uppercase
        color white
        text-decoration none

        padding 4px 9px
        font-size 11px

        &:hover {
          color white
          text-shadow 1px 0 0 currentColor;
        }
      } // a

      &.menu-item-has-children {
        > a {
          &:after {
            text-rendering auto
            font-smoothing antialiased
            font-family 'Font Awesome 5 Free'
            font-size 12px
            font-weight 700
            margin-left 4px
            color $red
            content "\f078"
          } // after of a
        } // a
        &:hover > .sub-menu {
          display block
        }
      } // menu item has child
    } // ul.nav-menu > li

    // > li
  }

  // ul - Nav Menu
}

// Navigation Main


// Quando for diminuindo a Tela o Menu diminui
.navigation-main ul.nav-menu > li a {
  @media $min-x2 {
    padding 4px 16px
    font-size 12px
  }
  @media $min-x3 {
    padding 4px 18px
    font-size 14px
  }
}
