.navigation-main {
  width 100%
  display flex
  align-items center
  justify-content flex-end

  ul.nav-menu {
    display flex;
    justify-content flex-end;
    flex-direction row
    margin 0

    > li {
      a {
        text-transform uppercase
        color white
        text-decoration none

        padding 4px 9px
        font-size 11px

        &:hover {
          color white
          text-shadow 1px 0 0 currentColor;
        }
      }

      // a

      &.menu-item-has-children {
        a {
          &:after {
            text-rendering auto
            font-smoothing antialiased
            font-family 'Font Awesome 5 Free'
            font-size 12px
            font-weight 700
            margin-left 4px
            color $red
            content "\f078"
          }

          // after of a
        }

        // a
      }

      // menu item has child

      .sub-menu {
        display none
      }
    }

    // > li
  }

  // ul - Nav Menu
}

// Navigation Main


// Quando for diminuindo a Tela o Menu diminui
.navigation-main ul.nav-menu > li a {
  @media $min-x2 {
    padding 4px 16px
    font-size 12px
  }
  @media $min-x3 {
    padding 4px 18px
    font-size 14px
  }
}
