// Header
.wrapper-header {
  padding 0
  background $gray-800
  @media $min-xl {
    height 82px;
  }

  .container-fluid, .navigation-main {
    height: 100%;
  }

  .wrapper-logo {
    padding: 20px 0;
  }

  > div {
    display flex
    justify-content space-between
    align-items center
    flex-direction row
  }

  // Navbar only desktop
  @media $min-xl {
    @import 'nav-desktop';
  }
  // min-xl only desktop


  $height-mobile = 82px;

  @media $max-xl {
    @import 'nav-mobile';
    // navigation main
  }

}

// wrapper-header
