// Fonts mixin
font-url(file)
  return '../fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.otf')) format('opentype')
    src url(font-url(file + '.woff')) format('woff')
    font-weight weight
    font-style normal

// How to use:
// webfont('font-name', 'file-name', chrome-hack-boolean, 'weight')

centeredHY() {
  display flex;
  justify-content center;
  align-items center;
}

centeredAlignTop() {
  display flex;
  justify-content center;
  align-items flex-start;
}

textShadow() {
  text-shadow: 4px 4px 0 rgba(0,0,0,.2);
}
