.separar-white {
  position relative;

  &:after {
    content " "
    width 100px
    height 5px
    background white
    position absolute
    bottom -10px
    left 0
    box-shadow 5px 5px 0 0 rgba(0,0,0,.2)
  }
}
