.btn {
  padding: 12px 22px;
  border-radius 200px
  border-width 3px
  font-size 16px
  box-shadow 4px 4px 0 0 rgba(0,0,0,0.1)

  &.btn-primary {
    background $red;
    text-transform uppercase
    font-weight bold
    border-color white
  }
}

.btn-lg {
  padding 12px 20px
  font-weight 800
  font-size 30px
}

.btn-xl {
  padding 12px 25px
  font-weight 800
  font-size 30px
}
