.wrapper-contact-form {
  @media $max-xl {
    //border-top 2px solid $red;
    border-bottom 2px solid $red;
    background: url(../imgs/contact/background-mobile.png);
    background-size cover;
    background-repeat no-repeat
    .text-common {
      font-size 12px
    }
  }

  .wrapper-background-one {
    @media $max-xl {
      background-image url('../imgs/contact/separator-top.png');
      background-position top center;
      background-repeat no-repeat
      background-size contain
      padding-top 70px;
    }
  }
  @media $min-xl {
    .container {
      padding-bottom 350px
    }

    .wrapper-background-one {
      background-repeat no-repeat
      background-image url('../imgs/contact/background-desktop-contact.png');
      background-size: contain;
      background-position: bottom right;
    }


    .wrapper-background-two {
      //background-repeat no-repeat
      //background-image url('../imgs/background-contato-equipe-2.png');
      //background-position-x 100%
    }

    .wrapper-background-three-mask {
      background-repeat no-repeat
      background-image url('../imgs/background-contato-mask.png');
      background-position bottom
    }
  }

  .contact-info-wrapper {
    .subtitle {
      font-size 12px
      @media $min-xl {
        font-size 18px;
      }
    }

    .title {
      font-size 15px;
      @media $min-xl {
        font-size 28px;
      }
    }

    .number-icon {
      @media $min-xl {
        margin-bottom 40px;
      }

      .number {
        font-size 14px;
        @media $min-xl {
          font-size 24px;
        }
      }

      .icon {
        font-size 24px;
        color #141414;
        margin-right 12px;
        @media $min-xl {
          font-size 56px;
          margin-right 30px;
        }
      }
    }

    // number icon
  }

}

// Separator Mobile
.contact-separator-mobile {
  background url(../imgs/contact/separator-mobile.jpg)
  background-size cover;
  background-position: bottom center
  height 110px;
  width 100%;
}
