.wrapper-contact-form {
  @media $max-xl {
    .text-common {
      font-size 12px
    }
  }
  @media $min-xl {
    .container {
      padding-bottom 350px
    }

    .wrapper-background-one {
      background-repeat no-repeat
      background-image url('../imgs/background-contato-equipe-1.png');
    }

    .wrapper-background-two {
      background-repeat no-repeat
      background-image url('../imgs/background-contato-equipe-2.png');
      background-position-x 100%
    }

    .wrapper-background-three-mask {
      background-repeat no-repeat
      background-image url('../imgs/background-contato-mask.png');
      background-position bottom
    }
  }

  .contact-info-wrapper {
    .subtitle {
      font-size 12px
      @media $min-xl {
        font-size 18px;
      }
    }

    .title {
      font-size 15px;
      @media $min-xl {
        font-size 28px;
      }
    }

    .number-icon {
      @media $min-xl {
        margin-bottom 40px;
      }
      .number {
        font-size 14px;
        @media $min-xl {
          font-size 24px;
        }
      }

      .icon {
        font-size 24px;
        color #141414;
        margin-right 12px;
        @media $min-xl {
          font-size 56px;
          margin-right 30px;
        }
      }
    } // number icon
  }

}
