.wrapper-contact-form {
  .container{
    padding-bottom 350px
  }

  .wrapper-background-one {
    background-repeat no-repeat
    background-image url('../imgs/background-contato-equipe-1.png');
  }

  .wrapper-background-two {
    background-repeat no-repeat
    background-image url('../imgs/background-contato-equipe-2.png');
    background-position-x 50vw
  }

  .wrapper-background-three-mask {
    background-repeat no-repeat
    background-image url('../imgs/background-contato-mask.png');
    background-position bottom
  }

}