// helper ~ generic classes 

.center-content 
	width 100% 
	margin auto 
	max-width 120rem
	z-index 2
	
	&:not(.not-relative)
		position relative
		
	&:not(.nopadding)
		@media $tablet-max
			padding 0 1.5rem
	
.dib 
	display inline-block
	vertical-align top
	
.cleared 
	&:after
		content ''
		display block
		clear both 
		
.transitioned-basic
	transition all .2s ease-in-out
	

// " premade constant widths "
		
.full 
	@media $small-desktop-min
		display block
		width 100%
		
.half
	@media $small-desktop-min
		float left
		width 47.5% 
		
	& + .half 
		@media $small-desktop-min
			margin-left 5%
	
.one-third
	@media $small-desktop-min
		float left 
		width 31.666%
		
	& + .one-third 
		@media $small-desktop-min
			margin-left 2.5%
			
.one-third-child
	@media $small-desktop-min
		float left 
		width 31.666%
		display block
			
	& + .one-third-child:not(:nth-child(3n+4))
		@media $small-desktop-min
			margin-left 2.5%


// big generic blocks
	
.has-sidebar 
	@media $small-desktop-min
		float left 
		width 65.83%
		
	&.left 
		@media $small-desktop-min
			margin-left 5%
			
	&.right 
		@media $small-desktop-min
			margin-right 5%