.hero-wrapper {

  background-image url('../imgs/hero/kaprice-seguros-criancas-brincando.jpg')
  background-size cover
  background-position center

  min-height 100vh

  padding-top 150px
  padding-bottom 150px

  .hero-title {
    line-height 0.92
    color white

    .hero-bigger {
      position: relative;

      &:after {
        content attr(data-text)
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        font-size 297px
        -webkit-text-fill-color transparent
        -webkit-text-stroke-width 1px
        -webkit-text-stroke-color rgba(255,255,255,.4)
      } // hero-biggger after
    } // hero-biggger
  } // hero-title

  //&:after {
  //  content " "
  //  width 100%
  //  height 100%
  //  position absolute
  //  background-image url('../imgs/hero/kaprice-seguros-background-carros.png')
  //  background-repeat no-repeat
  //} // hero wrapper after

} // hero-wrapper

// hero divisor wrapper faker

.fake-divisor-wrapper {
  background-image url('../imgs/hero/kaprice-seguros-background-carros.png');
  width 100%
  height 637px
  margin-top -200px
}