.slick-dots {
  bottom -45px

  li {
    margin 0
    button {
      &:before {
        position: absolute
        background  $gray-500
        top 0
        left 0
        width 8px
        height 8px
        content ' '
        opacity 1
        border-radius 200px
      }
    }

    &.slick-active {
      button {
        &:before {
          opacity: 1
          box-shadow: inset 0 0 0 2px $warning
        }
      }
    }
  }


}
