$font-sizes =  18 30 50 60 80 90 100 116 140 172 220;

for i in $font-sizes
  .font-size-{i}
    font-size '%s%s' % (i px)
    @media $max-lg
      font-size '%s%s' % ((i * .5) px)


.letter-spacing-5
  letter-spacing: -5px;


.font-gray-400 {
  color $gray-400
}

.text-common {
  @extends .font-gray-400
  font-size 18px
}

.text-black {
  color black
}
