@import 'helpers/variables'

@import '../../node_modules/bootstrap-4-stylus/bootstrap.styl'

@import 'base/reset'
@import 'base/fallbacks'
@import 'base/typography'

@import 'helpers/mixins'
@import 'helpers/sizes'
@import 'helpers/background'
@import 'helpers/separator'
@import 'helpers/scales'
@import 'helpers/common'

@import 'components/buttons'
@import 'components/navigation'
@import 'components/contact'
@import 'components/defaults'
@import 'components/container'
@import 'components/texts'
@import 'components/slick'
@import 'components/faq'
@import 'components/anos-de-parceria'
@import 'components/avaliacoes'
@import 'components/why-us'
@import 'components/depoimentos'
@import 'components/post-content'
@import 'components/breadcrumb'
@import 'components/breadcrumb'

@import 'layout/footer'
@import 'layout/contact-page-wrapper'
@import 'layout/overlay'
@import 'layout/forms'
@import 'layout/grids'
@import 'layout/header'
@import 'layout/sidebars'

@import 'pages/index'
@import 'pages/auto'


// fontawesome

@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css'
