@import 'helpers/variables.styl'
@import 'base/reset.styl'
@import 'base/fallbacks.styl'
@import 'helpers/mixins.styl'
@import 'base/typography.styl'
@import 'components/buttons.styl'
@import 'components/navigation.styl'
@import 'components/defaults.styl'
@import 'layout/footer.styl'
@import 'layout/forms.styl'
@import 'layout/grids.styl'
@import 'layout/header.styl'
@import 'layout/sidebars.styl'
@import 'pages/index.styl'


// i tend to cite classes on several documents generally as follows: 
// generic properties go on more generic denominators and specifics go usually into their own page hierarchy 

// ie: (.has-icon) will be on defaults and contain all generic properties for reusability, i will then go to the specific 
// component that intends to use the class and extend their properties based on hierarchy for that HTML context (generally this means spacing, colors, sizes and this sort of stuff)

// documentation motherfucker, do you have it?