@font-face {
  font-family: 'CeraPro-Regular';
  src: url('../fonts/cerapro/CeraPro-Regular.eot');
  src: url('../fonts/cerapro/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/cerapro/CeraPro-Regular.svg#CeraPro-Regular') format('svg'),
          url('../fonts/cerapro/CeraPro-Regular.ttf') format('truetype'),
          url('../fonts/cerapro/CeraPro-Regular.woff') format('woff'),
          url('../fonts/cerapro/CeraPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
