@import '../components/hero';

centered() {
  display flex
  align-items center
  justify-content center
}

centeredH() {
  display flex
  justify-content center
  flex-direction column
  align-items center
}

cicle() {
  border-radius 200px
}


.wrapper-why-kaprice {
  padding-bottom 20px;
  // text por que
  h1 {
    @media $max-xl {
      textShadow()
      span {
        letter-spacing 0;
      }
    }
    .why {
      @media $min-xl {
        margin-top 33px
      }
    }
  }

  .why-kaprice-wrapper {
    outline none
    centeredH()

    .icon-wrapper {
      centered()
      cicle()
      scale-desk()
      //extends .scale-desk
      margin-bottom 25px
      width 200px
      height 200px
      background-color #cc3812

      .icon {
        centered()
        cicle()
        width 160px
        height 160px
        background $warning
        box-shadow: 5px 10px 0 0 rgba(0, 0, 0, .1)
        padding 15px

        img {
        }
      }

    }

    .title {
      width 130px
      font-weight 700
      margin-bottom 20px;
    }

    .text {
      width 200px
    }

    .btn-more {
      color $warning
      font-weight 700
      border-bottom 2px solid $warning

      &:hover {
        border-bottom 2px solid transparent
        text-decoration none
      }
    }
  }

}

.security-cars-wrapper {
  background black
  color white
  background-size contain
  background-repeat no-repeat
  background-image url('../imgs/sections/kaprice-seguros-para-carros-mobile.jpg');
  @media $max-xl {
    padding-top 300px;
    text-align center;
  }
  @media $min-xl {
    background-image url('../imgs/sections/kaprice-seguros-para-carros.jpg');
    padding-bottom 50px;
  }
  // Isso só vale para desktop
  background-scale(120%, 135%, 100%)
  padding-top-scale(300px, 400px, 470px)

  .title-header {
    h1 {
      textShadow()
      @media $max-xl {
        transform scale(.8);
      }
      scale-desk-grid(.7, .85, 1)
      //transform-origin left

      span {
        @media $min-xl {
          white-space nowrap
        }
      }
    }
  } // title-header
  @media $max-xl {
    h2 {
      font-size 1.5rem
      margin-top 20px;
    }
  }
}

// Seguro para carros
.security-container-wrapper {
  width 100%
  margin-top 80px
  @media $max-xl {
    transform scale(.8)
  }

  .security-wrapper {
    outline none

    .icon {
      scale-desk()
      height: 160px
      margin-bottom 35px;
      display flex;
      align-items: center
      justify-content center

    }

    .title {
      font-weight bold
      height 85px
      @media $max-xl {
        font-size 20px;
      }
      @media $min-xl {
        font-size 18px
      }
      @media $min-xl2 {
        font-size 23px
      }
    }

    .text {
      margin-bottom 60px
      @media $max-xl {
        display none
      }
    }
  }
}

.secutiry-for-you-container {
  background-repeat no-repeat
  background-position top center
  margin-top -70px
  padding-bottom 280px
  @media $max-xl {
    padding-bottom 230px
  }
  padding-top 470px
  background-size 100vw
  background-image url('../imgs/sections/background-seguro-para-voce-mobile.png');
  text-align center
  @media $min-xl {
    text-align initial
    background-image url('../imgs/sections/background-seguro-para-voce.png');
  }
  background-scale(120%, 135%, 100%)
  padding-top-scale(470px, 470px, 530px)

  .title-header {
    scale-desk-grid(.7, .9, 1);
    transform-origin left
  }

  .security-for-you-wrapper {
    scale-desk-grid(.8, .95, 1)

    .icon {
      height 130px
    }

    .title {
      padding-top 50px
      padding-bottom 50px
      height 78px
      centeredAlignTop()
    }

    .text {
      @media $max-xl {
        display none
      }
      text-align center
      padding-top-scale(20px, 30px, inherit)
    }

    .link {
      text-align center
      font-weight bold
      color $danger
      text-decoration underline
    }
  }
}

// [seguro para empresa, homen setado, empresa]
.secutiry-for-company-container {
  margin-top -180px
  background-position top;
  background-repeat no-repeat;
  background-image url('../imgs/sections/background-seguro-para-empresas-mobile.png');
  background-color black
  background-size 100vw
  @media $max-xl{
    text-align center
    padding-top: 290px;
    h1 {
      transform: scale(.7);
      transform-origin: center;
      color white
    }

    .text {
      margin-bottom 60px;
    }
  }
  @media $min-xl {
    background-image url('../imgs/sections/background-seguro-para-empresas.png') , linear-gradient(white 49%, black 49%);
  }

  background-scale( 100vw, 100vw, 100vw );
  padding-top-scale( 370px, 520px, 700px );
  padding-bottom-scale( 80px, 220px, 300px );

  .title-header {
    white-space nowrap
    scale-desk-grid(.7, .8, 1)
    transform-origin left
  }
}

.security-for-company-wrapper-group-slick {
  .security-for-company {
    margin-bottom 0
    @media $min-xl {
      margin-bottom 90px
    }

    .icon {
      scale-desk-grid(.7, .8, 1)
    }
    .title {
      margin-top 25px
      margin-bottom 25px
      font-size-grid(17px, 17px, 18px)
    }
    .text {
      font-size 14px
      text-align center
    }
    .link {
      text-decoration underline
    }
  }
}



// disabled outline slick
.slick-slide {
  outline: none !important
}

